body {
  background-color: #CFEE9E;
  font: 24px "Comic Sans MS", "Comic Sans", cursive;
  color: #000
}

h1 {
  font-weight: normal
}

.email:before {
  content: "\6C\61\75\72\61\40\66\72\6F\67\77\6F\72\6C\64\2E\6F\72\67";
}